<div class="container">
  <div class="customer-page">
    <div class="genre-index">
      <h3>ジャンル一覧</h3>
      <% @genres.each do |genre| %>
        <%= link_to genre.name %>
      <% end %>
    </div>
    <div class="item-index">
      <div class="item-index-title">
        <h2>商品一覧</h2>
        <p>(全<%= @all_items_count %>件)</p>
      </div>
      <div class="six-items">
        <% @items.each do |item| %>
          <%= link_to root_path, class: "item-cell" do %>
            <%= image_tag item.get_item_image %>
            <h5><%= item.genre.name %></h5>
            <p><%= item.name %></p>
            <p><%= item.price %>円</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>