<div class="container">
  <div class="customer-page">
    <div class="genre-index">
      <h3>ジャンル一覧</h3>
      <% @genres.each do |genre| %>
        <%= link_to genre.name %>
      <% end %>
    </div>
    <div class="item-show">
      <%= image_tag @item.get_item_image, class: "item-image" %>
      <div class="item-information">
        <h3><%= @item.name %></h3>
        <p><%= @item.introduction %></p>
        <div class="item-information-price">
          <p>￥<%= @item.with_tax_price %></p>
          <p>(税込)</p>
        </div>
        <div class="item-information-order">
				  <% if customer_signed_in? %>
            <div class="item-information-order-amount">
							a
            </div>
            <div class="positive-button">
							a
            </div>
          <% else %>
            <p>注文するために<%= link_to "ログイン", new_customer_session_path %>してください。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>