<div class="container">
  <div class="customer-page">
    <div class="genre-index">
      <h3>ジャンル一覧</h3>
      <% @genres.each do |genre| %>
        <%= link_to genre.name %>
      <% end %>
    </div>
    <div class="item-show">
      <%= image_tag @item.get_item_image, class: "item-image" %>
      <div class="item-information">
        <h3><%= @item.name %></h3>
        <p><%= @item.introduction %></p>
        <div class="item-information-price">
          <p>￥<%= @item.with_tax_price %></p>
          <p>(税込)</p>
        </div>
        <div class="item-information-order">
				  <% if customer_signed_in? %>
            <% if current_customer.has_in_cart(@item) %>
              <div class="item-information-order-amount">
                <%= form_with model: [@item, current_customer.has_in_cart(@item)], url: public_item_cart_item_path(@item, current_customer.has_in_cart(@item)) do |f| %>
                  <p>こちらの商品は、既にカートに入っています。</p>
                  <%= f.select :amount, [*(1..10)] %>
                  <%= f.submit "数量変更", class: "" %>
                <% end %>
              </div>
					  <% elsif @item.is_active? %>
              <div class="positive-button">
                <%= form_with model: [@item, @cart_item], url: public_item_cart_items_path(@item, @cart_item) do |f| %>
                  <p>数量を選択して下さい。</p>
                  <%= f.select :amount, [*(1..10)], {selected: 1} %>
                  <%= f.submit "カートに入れる", class: "" %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>注文するために<%= link_to "ログイン", new_customer_session_path %>してください。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>